@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }
    .address {
    font-style: normal;
    margin-left: auto;
    }
    .address-list {
        flex-direction: row;
    }
    .address-contacts-link {
      display: block;
    
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--grey-txt-cl);
    
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-contacts-link:hover,
    .address-contacts-link:focus {
      color: var(--violet-txt-cl);
    }
    .address-contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
    }
    .address-contacts:not(:first-child) {
        margin-left: 40px;
      }
    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        margin-left: auto;
        margin-right: auto;
      }

    .hero-btn {
        margin-top: 48px;
    }
        .hero-title {
            max-width: 496px;
            margin: 0 auto;
          
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            text-align: center;
            letter-spacing: 0.02em;
          
            color: var(--white-txt-cl);
            text-align: center;
    }
    /* -----section ADVANTAGES--------- */
    .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .advantages-list-item {
    width: calc((100% - 72px) / 4);
    }
    .advantages-list-icon {
        padding: 24px 100px;
        background: #F4F4FD;
        border-radius: 4px;
    }
    
    .advantages-title {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--grey-txt-cl); 
    }
    .undertitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--black-txt-cl)  
}
/*Секція About*/
.about {
    padding-bottom: 120px;
}
.about-title {
    margin-bottom: 72px;
}
.about-list {
display: flex;
}
.about-list-item:not(:last-child) {
margin-right: 24px;
}
  /* ---------Section TEAM-------- */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container.team-container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

.team-list-item {
    width: calc((100% - 72px) / 4);
    }  
  /* ------CUSTOMERS DESKTOP------- */
.customers {
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers-container {
width: 1158px;
}
.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
} 
.customers-item {
    width: calc((100% - 120px) / 6);
}
.customers-item-link {
    padding: 16px 32px;
    width: 168px;
    height: 88px;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    width: 1158px;
    display: flex;
    align-items: baseline;
  }
.footer-forms {
    display: flex;
    align-items: center;
}
.footer-form-btn {
 padding: 8px 24px;
  margin-left: 24px;
  margin-top: 16px;

display: flex;
  justify-content: center;
  align-items: center;
}
.footer-column {
    margin-left: 0;
    margin-right: 120px;
  }
  .footer-group {
    margin-bottom: 0;
  }
  .footer-form {
    margin-left: auto;
    gap: 24px;
  }
  .footer-form-btn {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 24px;
  }
  .footer-forms {
    gap: 0;
  }
  .footer-form-input {
    width: 264px;

  }
}